@import 'backs';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$background: rgb(16, 16, 218);

.tetris__and-score {
    margin-left: 230px;
}
.main {
    width: 500px;
    height: 700px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 30px;
    position: relative;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.tetris {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 900px;
    overflow: hidden;
    background: no-repeat url('./Tet-BG.jpg');
    background-size: 100% 100%;
    
    
    
}


.excel {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.505);
    border-radius: 5%;
    background: transparent;
}

.figure {
    width: 50px;
    height: 50px;
    background: url("./block.jpg") no-repeat;
    background-size: cover;
}

.set {
    background: url("./block.jpg") no-repeat;
    background-size: cover;
}

.score {
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 60px;
    margin: 20px auto;
}
.controls {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    h3 {
        margin: 10px;
        font-size: 20px;
        font-weight: bolder;
    }
}
body {
    background: no-repeat url('./Background-main.jpg');
    background-size: fill;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('./Background-main.jpg');
    background-size: fill;
}

.button {
padding: 20px;
width: 100px;
margin: 10px auto;
background-color: rgb(0, 0, 0);
border: 3px solid black;
border-radius: 10px;
color: white;
&:hover{
    transform: scale(110%);
    transition-duration: .3s;
    cursor: pointer;
}
}
.easy {
    &:hover{
        background-color: green;
    }
}
.normal {
    &:hover{
        background-color: orange;
    }
}
.hard {
    &:hover{
        
        background-color: red;
    }
}
.modal {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(128, 0, 0)  90%);
    margin: 100px auto;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px black;
}
input {
    text-align: center;
    font-size: medium;
    border-radius: 16px;
    width: 120px;
}

.tetris__bg {
    background: no-repeat url('./bg2.webp');
    background-size: 100% 100%;
}
.tetris__bg2 {
    background: no-repeat url('./bg3.jpg');
    background-size: 100% 100%;
}
.tetris__bg3 {
    background: no-repeat url('./bg4.jpg');
    background-size: 100% 100%;
}

.tetris__bg4 {
    background: no-repeat url('./bg5.jpg');
    background-size: 100% 100%;
}
.tetris__bg5 {
    background: no-repeat url('./bg6.jpg');
    background-size: 100% 100%;
}
.tetris__bg6 {
    background: no-repeat url('./bg-figure.jpg');
    background-size: fill;
}
.tetris__bg7 {
    background: transparent;
}
.change__bg {
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    background-color: rgb(66, 65, 65);
    &:hover{
        transform: scale(110%);
        transition-duration: .3s;
        cursor: pointer;
    }
}
.restart__btn {
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    background-color: rgb(66, 65, 65);
    &:hover{
        transform: scale(110%);
        transition-duration: .3s;
        cursor: pointer;
    }
}

.pause__btn {
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    background-color: rgb(66, 65, 65);
    &:hover{
        transform: scale(110%);
        transition-duration: .3s;
        cursor: pointer;
    }
}

@media (max-width: 400px) {
    .excel {
        width: 32px;
        height: 32px;
    }
    .figure {
        width: 32px;
        height: 32px;
    }
    .tetris {
        width: 320px;
        height: 576px;   
    }
    .main {
        width: 320px;
        height: 480px;
    }
    .tetris__and-score {
        margin-left: 0px;
    }
    .descriptions {
        display: none;
    }
    .controls {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        color: white;
        h3 {
            margin: 10px auto;
            font-size: 20px;
            font-weight: bolder;
        }
    }
    .wrapper {
        gap: 0px;
    }
    .change__bg {
        max-width: 100%;
        margin-left: 20px;
    }
    .restart__btn {
        max-width: 100%;
        margin-left: 20px;
    }
    .pause__btn {
        max-width: 100%;
        margin-left: 20px;
    }
    .best__score {
        width: 100%;
    }
    .control__buttons {
        position: relative;
        width: 300px;
        height: 150px;
        margin: 0px auto;
    }
    .top-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 125px;
    }
    .left-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        left: 75px;
        top: 30%;
    }
    .right-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        left: 175px;
        top: 30%;
    }
    .bottom-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        left: 125px;
    }
}

